Repository fengyuanchen/markdown-to-vue-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "*.js": ["eslint --fix", "git add"],
    "*.{css,scss,vue,html}": ["stylelint --fix", "git add"]
  },
  "ignore": ["**/dist/*"]
}

docs: update external dependencies
  src/index.html
Due: stylelint --fix

build: upgrade husky to 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

docs: inherit background color
  src/app.vue
Due: stylelint --fix

build: update dependencies
  package-lock.json
  package.json
Due: none

fix: escape inline code spans
  index.js
Due: eslint --fix

build: release 2.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: create config files
  .browserslistrc
  commitlint.config.js
  lint-staged.config.js
Due: eslint --fix

docs: improve docs
  docs/index.html
  docs/main.js
  src/app.vue
Due: eslint --fix, stylelint --fix

build: update dependencies and configures
  .github/workflows/deploy.yml
  .gitignore
  .husky/.gitignore
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix

build: release 3.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: upgrade to cheerio@1.0.0-rc.10
  index.js
Due: eslint --fix

build: improve config
  .eslintignore
  .eslintrc
  .eslintrc.js
  .husky/commit-msg
  .stylelintignore
  .stylelintrc
  lint-staged.config.js
  stylelint.config.js
  webpack.config.js
Due: eslint --fix

build: release 3.1.2
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: none

ci: use Node.js 16
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix: fix missing compnent wrapper element
  index.js
Due: eslint --fix

build: release 3.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: none

Modify grabbing of the vue template
  index.js
Due: eslint --fix

Update README.md (#10)
  README.md
Due: none

docs: improve usage intro
  README.md
Due: none

fix: compile root templates only
  index.js
Due: eslint --fix

build: release 3.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: add `resolve.alias` to `webpack.config.js`
  README.md
Due: none

fix: fix code language detection in some edge case
  index.js
Due: eslint --fix

build: release 3.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

♥
  index.html
  main.js
Due: eslint --fix, stylelint --fix
