Repository fengyuanchen/markdown-to-vue-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "*.js": ["eslint --fix", "git add"],
    "*.{css,scss,vue,html}": ["stylelint --fix", "git add"]
  },
  "ignore": ["**/dist/*"]
}

build: add missing commitlint dependencies
  package-lock.json
  package.json
Due: none

build: release 1.0.1
  CHANGELOG.md
  README.md
  docs/dist/main.js
  package-lock.json
  package.json
Due: eslint --fix

feat: support root `<style>` elements
  src/index.js
Due: eslint --fix

refactor: set the `decodeEntities` option to `false`
  src/index.js
Due: eslint --fix

refactor: drop the `escapeApostrophes` option
  README.md
  src/index.js
  test/index.js
Due: eslint --fix

build: update dependencies
  package-lock.json
  package.json
Due: none

build: update config
  .browserslistrc
  .commitlintrc
  .eslintrc
  .huskyrc
  .lintstagedrc
  package.json
  test/.eslintrc
Due: none

feat: add `configureMarkdownIt` option
  src/index.js
Due: eslint --fix

build: move main file to root
  index.js
  test/index.js
Due: eslint --fix

docs: move docs files
  docs/dist/main.js
  docs/index.html
  src/.eslintrc
  src/app.js
  src/app.vue
  src/examples/html.md
  src/examples/javascript.md
  src/examples/others.md
  src/examples/vue.md
  src/index.html
  src/index.js
  webpack.config.js
Due: eslint --fix, stylelint --fix

build: release 2.0.0-alpha
  CHANGELOG.md
  README.md
  dist/markdown-to-vue-loader.esm.js
  dist/markdown-to-vue-loader.js
  docs/index.html
  docs/main.js
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix, stylelint --fix

ci: cache dependencies
  .travis.yml
Due: none

docs: update dependencies
  src/index.html
Due: stylelint --fix

ci: change script
  .travis.yml
Due: none

feat: export as es6 module
  index.js
Due: eslint --fix

chore(release): publish v2.0.0-alpha.1
  CHANGELOG.md
  docs/index.html
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

feat: use `componentNamespace` as the class prefix for the root element
  index.js
Due: eslint --fix

docs: update resource links
  src/index.html
Due: stylelint --fix

build: release 2.0.0-alpha.2
  CHANGELOG.md
  docs/index.html
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

fix: avoid removing any global <style> elements
  index.js
Due: eslint --fix

fix: improve regexps
  index.js
Due: eslint --fix

style: fix eslint errors
  index.js
Due: eslint --fix

docs: update links of dependencies
  src/app.js
  src/index.html
Due: eslint --fix, stylelint --fix

build: release 2.0.0-beta
  CHANGELOG.md
  docs/index.html
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

build: only publish the index.js file
  package.json
Due: none

style: fix stylelint errors
  src/examples/html.md
Due: none

build: release 2.0.0
  CHANGELOG.md
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix

chore: update external links
  README.md
  package.json
  src/app.vue
Due: stylelint --fix

feat: use the built-in `this.getOptions` as of Webpack 5
  index.js
  package.json
Due: eslint --fix

test: update module importing
  test/index.js
Due: eslint --fix

build: release v3.0.0
  CHANGELOG.md
  docs/index.html
  docs/main.js
  docs/main.js.LICENSE.txt
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

feat: support Vue 3
  index.js
Due: eslint --fix

build: release 2.1.0
  CHANGELOG.md
  README.md
  docs/index.html
  docs/main.js
  index.js
  package-lock.json
  package.json
  test/index.js
Due: eslint --fix, stylelint --fix

refactor!: upgrade to Vue 3
  .travis.yml
  README.md
  index.js
  package-lock.json
  package.json
  src/app.js
  src/index.html
  test/index.js
  webpack.config.js
Due: eslint --fix, stylelint --fix

build: release 3.1.0
  .eslintrc
  CHANGELOG.md
  docs/index.html
  docs/main.js
  docs/main.js.LICENSE.txt
  package-lock.json
  package.json
  postcss.config.js
  src/.eslintrc
  src/app.js
  src/app.vue
  src/index.html
Due: eslint --fix, stylelint --fix

build: move CI to GitHub Actions
  .github/workflows/ci.yml
  .travis.yml
  README.md
Due: none

build: update ci.yml
  .github/workflows/ci.yml
Due: none

build: rename script for coverage
  .github/workflows/ci.yml
  package.json
Due: none

ci: update config
  .github/workflows/ci.yml
Due: none

docs: remove build status badge
  README.md
Due: none
